.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  margin: 16px 0;
  text-align: left;
}

.card-title {
  margin-top: 0;
  margin-left: 1.5rem;
}

.card-content {
  margin: 8px 0;
}

.card-body {
  margin-top: 16px;
}